body {
  margin: 0px;
  background-color: lightgray;

}

.navigator {
  border-style: solid;
  border-width: 10px;
  background-color: red;
  border-color: white;
  width: 100%;
  height: 50px;
  text-align: center;
}



#welkom
{
  font-size: 20px;
  font-family: cursive;
  color: white;

}

.deinput
{
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: Silver;

}


.boven
{
  width: 250px;
  height: 40px;
  background-color: Gainsboro;
  border-style: solid;
  border-color: white;
  border-width: 10px;

}



#zoeka
{
  border-radius: 50px;
  border-color: red;
  color: red;
  text-align: center;


}


#verzenden
{
  color: white;

}
